.loginsignup{
    width: 100%;
    height: 100vh;
    background:#c5f2f6;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-top: 100px;
}
.loginsignup-container{
    width: 680px;
    height: 700px;
    background-image: url(https://ih1.redbubble.net/image.4742609972.5539/st,small,507x507-pad,600x600,f8f8f8.jpg);
    margin: auto;
    padding: 40px 50px;
    border-radius: 5%;
    margin-top: -100px;
    
}
.loginsignup-container h1{
    margin:20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top:30px;

}
.loginsignup-fields input{
    height:60px;
    width: 100%;
    padding-left: 20px;
    border: 2px solid #c9c9c9;
    outline:none;
    color: #1c1b1b;
    font-size: 18px;
}
.loginsignup-login{
    font-size: large;
}
.loginsignup-container button{
    width:580px;
    height: 50px;
    color: rgb(255, 255, 255);
    background:#042b53;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius:75px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

}
.loginsignup-login span{
    color: #042b53;
    font-weight: 600;
    cursor: pointer;

}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap:20px;
    color: #0d0d0d;
font-size: 18px;
font-weight: 500;
}